{
    "VAR_Zabbix40AG_serverregist": "{{ VAR_Zabbix40AG_serverregist }}",
    "VAR_Zabbix40AG_APITempPath": "{{ VAR_Zabbix40AG_APITempPath }}",
    "VAR_Zabbix40AG_Username": "{{ VAR_Zabbix40AG_Username }}",
    "VAR_Zabbix40AG_Password": "{{ VAR_Zabbix40AG_Password }}",
    "VAR_Zabbix40AG_ServerAddress": "{{ VAR_Zabbix40AG_ServerAddress }}",
    "VAR_Zabbix40AG_Hostname": "{{ VAR_Zabbix40AG_Hostname }}",
    "VAR_Zabbix40AG_DisplayName": "{{ VAR_Zabbix40AG_DisplayName }}",
    "VAR_Zabbix40AG_HostIP": "{{ VAR_Zabbix40AG_HostIP }}",
    "VAR_Zabbix40AG_AgentPort": "{{ VAR_Zabbix40AG_AgentPort }}",
    "VAR_Zabbix40AG_SnmpPort": "{{ VAR_Zabbix40AG_SnmpPort }}",
    "VAR_Zabbix40AG_HostGroups": "{{ VAR_Zabbix40AG_HostGroups }}",
    "VAR_Zabbix40AG_Templates": "{{ VAR_Zabbix40AG_Templates }}"
}